plotly>=5.5.0
plotly-express
matplotlib
streamlit
scipy
numpy
numba==0.57.1
pandas
scikit_learn
openpyxl
xlrd
gseapy
XlsxWriter
inflect>=5.3.0
dateparser
phik
seaborn
regex
kaleido==0.1.0
statsmodels
decoupler
anndata
scanpy
weasyprint