plotly>=5.5.0
plotly-express
matplotlib
streamlit
streamlit_tags
scipy
numpy
numba==0.56.4
pandas
scikit_learn
openpyxl
xlrd
gseapy
XlsxWriter
inflect>=5.3.0
dateparser
phik
seaborn
regex
kaleido
statsmodels
decoupler==1.2.0
anndata
scanpy
pdfkit