plotly
plotly_express
matplotlib
streamlit
streamlit_tags
scipy
numpy
pandas>=1.3.5
scikit_learn
openpyxl==3.1.0
xlrd
gseapy
XlsxWriter
inflect
dateparser
phik
seaborn
regex
kaleido
statsmodels
decoupler
anndata
scanpy
pdfkit
